@layer components {
  .button {
    @apply font-semibold;

    /* SVG icon styling - exclude spinner and link-icon svgs */
    & svg:not([data-slot="spinner"] svg, [data-slot="link-icon"] svg) {
      @apply size-button-icon-sm;
    }
  }

  .button--sm {
    @apply button-size-sm;

    &.button--icon-only {
      @apply w-button-sm;
    }
  }

  .button--md {
    @apply button-size-md;

    &.button--icon-only {
      @apply w-button-md;
    }
  }

  .button--lg {
    @apply button-size-lg;

    &.button--icon-only {
      @apply w-button-lg;
    }
  }

  .button--secondary {
    --button-bg: var(--color-accent-soft);
    --button-bg-hover: var(--color-accent-soft-hover);
    --button-bg-pressed: var(--color-accent-soft-hover);
    --button-fg: var(--color-accent-soft-foreground);
  }

  .button--outline {
    &[data-color="accent"] {
      @apply border-accent;

      --button-bg: var(--color-accent-soft);
      --button-bg-hover: var(--color-accent-soft-hover);
      --button-bg-pressed: var(--color-accent-soft-hover);
      --button-fg: var(--color-accent-soft-foreground);
    }

    &[data-color="danger"] {
      @apply border-danger;

      --button-bg: var(--color-danger-soft);
      --button-bg-hover: var(--color-danger-soft-hover);
      --button-bg-pressed: var(--color-danger-soft-hover);
      --button-fg: var(--color-danger-soft-foreground);
    }

    &[data-color="success"] {
      @apply border-success;

      --button-bg: var(--color-success-soft);
      --button-bg-hover: var(--color-success-soft-hover);
      --button-bg-pressed: var(--color-success-soft-hover);
      --button-fg: var(--color-success-soft-foreground);
    }

    &[data-color="warning"] {
      @apply border-warning;

      --button-bg: var(--color-warning-soft);
      --button-bg-hover: var(--color-warning-soft-hover);
      --button-bg-pressed: var(--color-warning-soft-hover);
      --button-fg: var(--color-warning-soft-foreground);
    }

    &[data-color="info"] {
      @apply border-info;

      --button-bg: var(--color-info-soft);
      --button-bg-hover: var(--color-info-soft-hover);
      --button-bg-pressed: var(--color-info-soft-hover);
      --button-fg: var(--color-info-soft-foreground);
    }
  }

  .button--ghost {
    &[data-color="accent"] {
      --button-bg-hover: var(--color-accent-soft);
      --button-fg: var(--color-accent);
    }

    &[data-color="danger"] {
      --button-bg-hover: var(--color-danger-soft);
      --button-fg: var(--color-danger);
    }

    &[data-color="success"] {
      --button-bg-hover: var(--color-success-soft);
      --button-fg: var(--color-success);
    }

    &[data-color="warning"] {
      --button-bg-hover: var(--color-warning-soft);
      --button-fg: var(--color-warning);
    }

    &[data-color="info"] {
      --button-bg-hover: var(--color-info-soft);
      --button-fg: var(--color-info);
    }
  }
}
