@layer components {
  .button--sm {
    @apply rounded-lg;
  }

  .button--md {
    @apply h-10;
    @apply rounded-lg-plus;
  }

  .button--md.button--icon-only {
    @apply w-10;
  }

  .button--lg {
    @apply h-12 px-6;
    @apply rounded-xl;
  }

  .button--lg.button--icon-only {
    @apply w-12;
  }

  .button--primary {
    &:disabled,
    &[aria-disabled="true"] {
      --button-bg: var(--color-gray-200);
      --button-fg: var(--color-gray-500);
    }
  }

  .button--secondary {
    --button-bg: var(--color-accent-soft);
    --button-bg-hover: var(--color-accent-soft-hover);
    --button-bg-pressed: var(--color-accent-soft-hover);
    --button-fg: var(--color-accent-soft-foreground);

    &:disabled,
    &[aria-disabled="true"] {
      --button-bg: var(--color-gray-100);
      --button-fg: var(--color-gray-400);
    }
  }

  .button--outline {
    &[data-color="accent"] {
      @apply border-accent;

      --button-bg: var(--color-accent-soft);
      --button-bg-hover: var(--color-accent-soft-hover);
      --button-bg-pressed: var(--color-accent-soft-hover);
      --button-fg: var(--color-accent-soft-foreground);
    }

    &[data-color="danger"] {
      @apply border-danger;

      --button-bg: var(--color-danger-soft);
      --button-bg-hover: var(--color-danger-soft-hover);
      --button-bg-pressed: var(--color-danger-soft-hover);
      --button-fg: var(--color-danger-soft-foreground);
    }

    &[data-color="success"] {
      @apply border-success;

      --button-bg: var(--color-success-soft);
      --button-bg-hover: var(--color-success-soft-hover);
      --button-bg-pressed: var(--color-success-soft-hover);
      --button-fg: var(--color-success-soft-foreground);
    }

    &[data-color="warning"] {
      @apply border-warning;

      --button-bg: var(--color-warning-soft);
      --button-bg-hover: var(--color-warning-soft-hover);
      --button-bg-pressed: var(--color-warning-soft-hover);
      --button-fg: var(--color-warning-soft-foreground);
    }
  }

  .button--ghost {
    &[data-color="accent"] {
      --button-bg-hover: var(--color-accent-soft);
      --button-fg: var(--color-accent);
    }

    &[data-color="danger"] {
      --button-bg-hover: var(--color-danger-soft);
      --button-fg: var(--color-danger);
    }

    &[data-color="success"] {
      --button-bg-hover: var(--color-success-soft);
      --button-fg: var(--color-success);
    }

    &[data-color="warning"] {
      --button-bg-hover: var(--color-warning-soft);
      --button-fg: var(--color-warning);
    }
  }
}
