@layer components {
  .toggle-button {
    @apply font-semibold;
  }

  /* Size variants */
  .toggle-button--sm {
    @apply button-size-sm;

    &.toggle-button--icon-only {
      @apply w-button-sm;
    }
  }

  .toggle-button--md {
    @apply button-size-md;

    &.toggle-button--icon-only {
      @apply w-button-md;
    }
  }

  .toggle-button--lg {
    @apply button-size-lg;

    &.toggle-button--icon-only {
      @apply w-button-lg;
    }
  }

  .toggle-button--default {
    --toggle-button-bg-selected: var(--color-accent);
    --toggle-button-fg-selected: var(--color-accent-foreground);
    --toggle-button-bg-selected-hover: var(--color-accent-hover);
    --toggle-button-bg-selected-pressed: var(--color-accent-hover);
  }

  .toggle-button--ghost {
    @apply border-border border;

    &[data-selected="true"] {
      @apply border-accent;
    }
  }
}
