@theme {
  /* field gap */
  --spacing-field: calc(var(--spacing) * 2);

  /* button height */
  --spacing-button-sm: calc(var(--spacing) * 8);
  --spacing-button-md: calc(var(--spacing) * 10);
  --spacing-button-lg: calc(var(--spacing) * 12);

  /* input height */
  --spacing-input: var(--spacing-button-md);

  /* list box item height */
  --spacing-list-box-item: calc(var(--spacing) * 9);
}
