@import "tailwindcss";
@import "@heroui/styles";
@import "@demodev-ui/core/styles";

body {
  @apply bg-background text-foreground;
}

@layer components {
  .button--sm {
    @apply rounded-lg;
  }

  .button--md {
    @apply h-10;
    @apply rounded-base;
  }

  .button--md.button--icon-only {
    @apply w-10;
  }

  .button--lg {
    @apply h-12 px-5;
    @apply rounded-xl;
  }

  .button--lg.button--icon-only {
    @apply w-12;
  }

  .button--primary {
    &[data-softened="true"] {
      --button-bg: var(--color-accent-soft);
      --button-bg-hover: var(--color-accent-soft-hover);
      --button-bg-pressed: var(--color-accent-soft-hover);
      --button-fg: var(--color-accent-soft-foreground);
    }
  }
}
