@import "./theme/index.css";
@import "./variants.css";
@import "./utilities/index.css";

:root:not([data-theme="dark"]) {
  --background: #fff;
  --border: var(--color-gray-200);
  --default: var(--color-gray-50);
}
