/* size */
@utility button-size-sm {
  @apply rounded-button-sm h-9 px-3 text-sm;
}

@utility button-size-md {
  @apply rounded-button-md h-10;
}

@utility button-size-lg {
  @apply input-size-lg;
}

/* radius */
@theme {
  --radius-button-xs: var(--radius-md);
  --radius-button-sm: var(--radius-lg);
  --radius-button-md: var(--radius-lg-plus);
  --radius-button-lg: var(--radius-xl);
}
