@utility chip-size-sm {
  @apply rounded-chip-sm h-6 px-2 text-xs;
}

@utility chip-size-md {
  @apply rounded-chip-md h-8 px-3 text-sm;
}

@utility chip-size-lg {
  @apply button-size-sm;
}

@theme {
  --radius-chip-sm: var(--radius-md);
  --radius-chip-md: var(--radius-lg);
  --radius-chip-lg: var(--radius-button-sm);
}
